---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [organizers, collab]
    width: 3
    image: true
  - roles: [employers, service-providers]
    width: 3
    image: true
  - roles: [advocates]
    width: 3
    image: true

---

<div>
    <figure>
        <img class="banner" src="{{site.base}}/img/banner.png"/>
    </figure>
</div>

<div class="jumbotron">

    <h2>Are you an autistic student in community college in the USA? Are you interested in exploring a career
        artificial intelligence (AI)? <a href="https://cmu.ca1.qualtrics.com/jfe/form/SV_9v2vmM0TK3XKB3E">Apply</a> 
        to our free PAS4AI Workforce Remote Summer program! 
    </h2>
    <h2>
        From June 17 to July 19, you will be taught the fundamentals of AI, data science, and machine learning. 
        Those who succesfully complete the course will be offered a remote summer internship at a professional 
        organization. 
    </h2>
    <h2>    
        Applications will be accepted until April 15, 2024. Accepted students will be notified on 
        a rolling basis.
    </h2>
  <br/>
  <p>Welcome to the <b>Preparing Autistic Students for the AI Workforce</b> NSF Project.</p>

  <p>The USA faces a shortage of talent in the emerging technology field of artificial intelligence (AI). 
    We can ameliorate the shortage by reaching out to untapped populations, such as autistic STEM community 
    college students. Autistic people often demonstrate a strong affinity for STEM; however, they suffer 
    from an 80% unemployment rate due to social stigma and discrimination. </p>
    
    <p>The goal of our project is to address the employment gap by establishing innovative pathways for
    autistic students to specialize in AI careers. This proposal will develop innovative pedagogical 
    materials and scalable tools to teach AI technical skills through a "learning-by-doing" experience, 
    teach crucial team collaboration and communication skills through AI-focused project-based learning, 
    and facilitate autistic community college students to obtain AI-focused summer internships and 
    increase their access to AI careers. By providing internships for autistic students, this project 
    will debunk the harmful stereotypes and change the exclusionary norms that impact their employment.</p>
 
    <p>We use a strengths-based approach to provide strategies and supports that allow individuals with 
    autism to engage confidently, competently, and with a positive sense of self when navigating 
    the complex and challenging social environment of the workplace. Our pedagogical innovations 
    include the human factors and user interface design to support AI subject-matter experts, mentors, 
    and teachers learning to teach autistic students. Special education experts in autism who 
    specialize in teaching communication, social, and teaming skills support our mentors 
    in their day-to-day learning experiences. We employ online training to reach more autistic 
    students and also make our online course materials available to community college teachers 
    to offer this course at their own schools. Our program is scalable and self-sustaining 
    through the training of mentors to support autistic people and have those mentors work with 
    the interns in our program.</p>
    
</div>

<section>
    <h2>News</h2>
<ul class="news list-unstyled">
      {% for post in site.posts limit: site.front_page_news %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %}
</section>

<section>
    <h2>Projects</h2>
    <div class="card-columns">
        {% comment %}
        Sort the projects by date, putting those without dates last
        {% endcomment %}
        {% assign projects_by_date = site.projects | sort: 'last-updated', 'first' %}
        {% assign projects_by_date = projects_by_date | reverse %}
        {% for p in projects_by_date %}
            {% if p.status != "inactive" %}
                {% include project-card.html project=p %}
            {% endif %}
        {% endfor %}
    </div>
</section>

<div id="people">
    <h2>People</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>
